/* Hero section  */

.hero {
  padding: 66.8227px 100.234px;
  background: #f5f7fa;
  color: black;
}

.hero__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  max-width: 600px;
}
.hero__content h1 {
  font-size: 48px;
  line-height: 52.9px;
  font-weight: 600;
  color: #4d4d4d;
}
.hero__content span {
  color: #4caf4f;
}

.hero__content p {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  margin: 15px 0;
}
.hero__button {
  padding: 9px 25px;
  color: #fff;
  border: transparent;

  height: 38.49px;
  background: #4caf4f;
  border-radius: 2.78428px;

  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* Feature Section  */

.features__section {
  padding: 20px 100.234px;
  text-align: center;
  color: black;
}

.features__section h2 {
  /* font-size: 25px */
  color: #4d4d4d;
  width: 377.27px;
  height: 72px;
  margin: 0 auto;
}

.features__section p {
  color: #717171;
}

.features-grid {
  display: flex;
  gap: 18.1px;
  margin-top: 5px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.57px;
  margin: 0 auto;
  width: 208.12px;
  background: #ffffff;
  box-shadow: 0px 1.39214px 2.78428px rgba(171, 190, 209, 0.2);
  border-radius: 5.56856px;
  padding: 20px;
  min-width: 300px;
}

.feature h3 {
  font-size: 22px;
  text-align: center;
  color: #4d4d4d;
}

.feature p {
  font-size: 14px;
  color: #717171;
}

.footer__down {
  display: flex;
  gap: 40px;
}

@media (max-width: 768px) {
  .hero {
    padding: 12px 25px;
  }

  .hero__content h1 {
    font-size: 38px;
  }

  .hero-image img {
    display: none;
  }

  .feature {
    gap: 8px;
    min-width: 300px;
  }
  .features__section {
    padding: 30px 40px;
  }
  .features-grid {
    flex-direction: column;
    margin-top: 10px;
  }

  .main {
    margin: 0 auto;
    width: 100%;
    /* flex-direction: column; */
  }

  .clients-logos {
    display: block;
    padding: 3px;
  }
  .blog__section {
    padding: 30px 20px;
  }

  .blog__image {
    display: none;
  }

  .blog__text {
    margin-top: 18px;
  }

  .blog__text h1 {
    font-size: 25px;
  }

  .statistics {
    padding: 20px 10px;
    flex-direction: column;
  }
  .stats {
    flex-direction: column;
  }

  .statistics h2 {
    font-size: 30px;
  }

  .statistics p {
    font-size: 16px;
  }

  .testimonial {
    text-align: center;
    padding: 20px 10px;
  }

  .testimonial__content {
    flex-direction: column;
  }

  .testimonial__image {
    display: none;
  }
  .p1 {
    font-size: 15px;
    text-align: justify;
  }

  .info__section {
    padding: 20px 10px;
  }

  .info__section p {
    max-width: 400px;
  }

  .info__posts {
    display: none;
    width: 600px;
    height: 1400px;
    flex-direction: column;
  }

  .banner h1 {
    font-size: 31px;
    max-width: 400px;
  }

  .post {
    height: auto;
  }
  .banner {
    padding: 0;
  }

  .footer__down {
    flex-direction: column;
    gap: 20px;
  }

  .footer-sec {
    padding: 20px 50px;
  }
}
