.register-button {
  padding: 16px 26px;
  background-color: #4caf4f;
  color: #fff;
  border: transparent;
  border-radius: 5px;
  font-size: 15px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5.57px;
}

.register-button:hover {
  background-color: #45a049;
}

.register-button p {
  font-family: "Inter";
  font-weight: 500;
  line-height: 17px;
  color: #ffffff;
}
