footer {
  color: white;
  padding: 44.5484px 114.851px;
  background: #263238;
}

.social__links img {
  width: 50px;
  height: 35px;
  margin: 0 auto;
}

.footer__row {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.footer_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.row img {
  color: white;
}

.footer__row p {
  color: #f5f7fa;
  margin-top: 30px;
  font-size: 17px;
  font-weight: 400;
  /* line-height: 2px; */
}

.footer_list {
  padding: 20px;
}

.footer-header {
  font-size: 20px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 20px;
}

.num {
  font-size: 1rem;
  font-weight: 500;
}

.link-des {
  display: flex;
  flex-direction: column;
  color: #f5f7fa;
  gap: 15px;
}

.link-des a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.input {
  background: rgb(136, 131, 131);
  width: 100%;
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  color: white;
}

input[type="email"] {
  outline: none;
  background: transparent;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.input img {
  cursor: pointer;
}

::placeholder {
  color: white;
}
