* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
}

.clients__section {
  color: #333;
  text-align: center;
  padding: 20px 100.234px;
}

.clients__section h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #4d4d4d;
  font-weight: 600;
  line-height: 30px;
}

.clients__section p {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
  color: #717171;
}

.clients-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 22.27px;
}

/* Body css  */
.blog__section {
  color: #000;
  background: #fff;
  padding: 40px 100.234px;
}

.blog__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px;
  margin: 0 auto; */
}

.blog__image {
  flex: 1;
}

.blog__image img {
  width: 400px;
  height: 300px;
}

.blog__text {
  flex: 1;
}

.blog__text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  /* Neutral/D_Grey */
  color: #4d4d4d;
}

.blog__text p {
  margin: 20px 0;
  font-weight: 400;
  line-height: 24px;

  /* Neutral/Grey */
  color: #717171;
}

.statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44.5484px 100.234px;
  gap: 20.88px;

  /* Neutral/Silver */
  background: #f5f7fa;
  color: black;
}

.statistics h2 {
  font-size: 34px;
  color: #333;
}

.statistics p {
  color: #18191f;
}

.highlight {
  color: #36b37e;
}

.stats {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  /* margin-top: 20px; */
}

.statistics .stat {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 11.14px;
  /* flex: 1 1 200px; */
}

.stat h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 19.4899px;
  line-height: 25px;
  color: #4d4d4d;
}
.stat p {
  font-size: 14px;
  color: #717171;
}
.testimonial {
  color: #000;
  background: #f5f7fa;
  padding: 50px 20px;
}

.testimonial__content {
  display: flex;
  gap: 18px;
  justify-content: space-between;
  /* align-items: center; */
  max-width: 1200px;
  margin: 0 auto;
}

.testimonial__content img {
  /* max-width: 100px;
  margin-bottom: 20px; */
  width: 400px;
  height: 300px;
}

.testimonial__image {
  flex: 1;
}

.blog__text {
  flex: 1;
}

.testimonial__text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 29px;
  color: #4d4d4d;
}

.p1 {
  margin: 20px 0;
  color: #717171;
}
.p2 {
  margin: 15px 0;
  color: #4caf4f;
}
.p3 {
  color: #89939e;
}
.info__section {
  padding: 50px 20px;
  background: #f9f9f9;
  color: black;
  text-align: center;
}
.info__section h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25.0585px;
  line-height: 31px;
  /* Neutral/D_Grey */
  color: #4d4d4d;
}

.info__section p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  /* or 150% */
  text-align: center;

  width: 437.13px;
  margin: 0 auto;

  /* Neutral/Grey */
  color: #717171;
}

.info__posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100.234px;
  gap: 11.83px;
  margin: 0 auto;

  width: 1002.34px;
  height: 350.8px;
}
.post {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
  margin-top: 60px;
  height: 330px;
}

.post h3 {
  font-family: "Inter";
  margin: 20px 10px;
  font-size: 18px;
  line-height: 19px;
  /* or 140% */
  text-align: center;

  /* Neutral/Grey */
  color: #717171;
}
.post img {
  width: 100%;
  height: auto;
}

.link {
  display: block;
  margin: 20px;
  color: #28a745;
  text-decoration: none;
  font-weight: bold;
}
.banner {
  text-align: center;
  padding: 44.5484px 100.234px;
  gap: 22.27px;
  color: black;

  height: 250px;

  /* Neutral/Silver */
  background: #f5f7fa;
}
.banner h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 44.5484px;
  line-height: 53px;
  /* or 119% */
  text-align: center;

  /* Neutral/Black */
  color: #263238;
  margin: 0 auto;
  width: 617.41px;
  height: 106px;
}
.demo-button {
  margin-top: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  /* margin-bottom: 30px; */
  transition: background-color 0.3s ease;
}

.demo-button:hover {
  background-color: #218838;
}

/* footer  */
.footer {
  padding: 50px 70px;
  background: #263238;
}

.main {
  display: flex;
  gap: 30px;
  align-items: baseline;
  margin: 0 auto;
  max-width: 1000px;
  justify-content: space-between;
}
.span {
  color: white;
}

.footer__logo p {
  margin-top: 18px;
  font-size: 20px;
  line-height: 14px;
  color: #f5f7fa;
  font-family: "Inter";
}

.footer__image {
  width: 40px;
  height: auto;
}

.footer__link {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.course__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.course__list a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .blog__content {
    flex-direction: column;
    text-align: center;
  }

  .blog__image {
    margin-top: 20px;
  }

  .stat h3 {
    font-size: 18px;
  }

  .stat p {
    font-size: 12px;
  }
}
